.auth {
  margin: auto 0;
  height: 100vh;

  &__container {
    @include flex-all-center;
    transform: translateY(-10vh);
    flex-direction: column;
    height: 100%;
    gap: 5rem;
  }

  &__title {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 120%;
  }
}
